body {
  background-color: transparent;
  color: inherit;
}

.app {
  &__dark-mode-btn {
    border: 0;
    background: transparent;
    font-size: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}
